* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

.container {
  border: 2px solid black;
  height: 30rem;
  width: 45rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: azure;
}

.buttons {
  display: flex;
  margin-top: 3rem;
}

button {
  padding: 0.5rem;
  background-color: cadetblue;
  margin: 1rem;
}
